.redux-detailed__div{
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.heroImg{
    width: 400px;
    height: 400px;
}

.aspects{
    display: flex;
    width: 300px;
    justify-content: space-between;

}
.detailed-info{
    text-align: left;
}
